<div class="breadcrumbs" *ngIf="!!breadcrumbsSub.value.length">
  <div class="container">
    <span class="breadcrumbs-item" *ngFor="let item of breadcrumbsSub.value; let i = index">
      <span *ngIf="i + 1 === breadcrumbsSub.value.length">{{ item.label }}</span>
      <span
        class="breadcrumbs-item-link"
        routerLink="{{ breadcrumbsPath[i] }}"
        *ngIf="i + 1 < breadcrumbsSub.value.length"
        >{{ item.label }}</span
      >
      <span class="breadcrumbs-item-divider" *ngIf="i < breadcrumbsSub.value.length - 1">/</span>
    </span>
  </div>
</div>
<mat-divider></mat-divider>
