<mat-toolbar color="primary">
  <div class="header">
    <div class="header-menu">
      <span routerLink="" class="cursor-pointer">F1 APP</span>
      <div class="header-menu-items" *ngIf="isLoggedIn">
        <button mat-button routerLink="teams">Teams</button>
        <button mat-button routerLink="drivers">Drivers</button>
      </div>
    </div>
    <div class="header-buttons" *ngIf="isLoggedIn">
      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with an account icon"
        routerLink="profile"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <button
        mat-flat-button
        routerLink="login"
        *ngIf="isLoggedIn"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
    <button mat-flat-button routerLink="login" *ngIf="!isLoggedIn">
      Login
    </button>
  </div>
</mat-toolbar>
