@import 'variables';

.login-form {
  display: flex;
  flex-direction: column;
  padding: $padding 0;

  &-title {
    padding: 10px 0;
  }
}

.login-error {
  position: relative;
  top: 10px;
  text-align: center;
}
