<div class="app-component">
  <div class="app-loading" *ngIf="isInitLoading">
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
    <span>
      <img src="../assets/img/f1-car.gif" alt="F1 car" />
    </span>
  </div>

  <div class="container container--primary" *ngIf="isInitError">
    <app-init-error
      errorMessage="Something went wrong while initializing the app.<br />Please try it again later."
    ></app-init-error>
  </div>

  <ng-container *ngIf="!isInitLoading && !isInitError">
    <app-header></app-header>
    <div class="app-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </ng-container>
</div>
