.app-component {
  app-init-error {
    padding: 40px 0;
  }
}

.app-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    width: 400px;
    height: auto;
  }
}

.app-main {
  min-height: calc(100vh - 116px);
}
