@import 'variables';

.driver-card {
  padding: $padding;
}

.mat-card {
  text-align: center;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.mat-card-title {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    &:nth-child(2) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.driver-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  margin-bottom: 25px;
  border-radius: 50%;
  overflow: hidden;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    margin: 0;
  }
}
